{% extends "base.html" %} 
{% block content %}

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class="site-heading my-4 mt-3 text-white">
            Welcome to Our awesome Blog
          </h3>
          <p class="text-light">We Love You to read here about our blog..! &nbsp</p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8 mt-3 left">
      {% for post in post_list %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text text-muted h6">
            {{ post.author }} | {{ post.created_on}}
          </p>
          <p class="card-text">{{post.content|slice:":200" }}</p>
          <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary"
            >Read More &rarr;</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
    {% block sidebar %}

       
        
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 float-right ">
        <div class="card my-4">
                <h5 class="card-header">About Us</h5>
            <div class="card-body">
                <p class="card-text">CloudZen Software Labs was founded by Suriya Subramanian with a mission to help businesses unlock their data's potential.</p>
                <a href="https://www.cloudzen.in/pages/about.html"
                   class="btn btn-danger">Know more!</a>
            </div>
        </div>
        </div>
        
        {% endblock sidebar %}
  </div>
</div>
{%endblock%}
