{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text">Tally on Wheels was founded by Suriya Subramanian with a mission to help businesses unlock their data's potential.

            Suriya Subramanian has a PhD in Computer Science from The University of Texas at Austin and has worked in technology and research teams at Intel and IBM. He brings a great understanding of software and technology and how to apply them to solve various problems.</p>
        <a href="https://www.tallyonwheels.com/"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
<div><a href="/create" class="btn btn-primary">Add New Record</a></div>
</div>

{% endblock sidebar %}